@media screen and (max-width: 600px) {
  .header {
    width: 100%;
  }

  .header__main a {
    font-size: 10px;
    margin: 0;
  }

  .header__slogan {
    display: none;
  }

  .header__info {
    display: none;
  }

  .header__box {
    padding: 0 20px;
    justify-content: space-evenly;
  }

  .main__box {
    flex-direction: column;
  }

  body .main__first-img {
    width: 300px;
    height: 350px;
  }

  .main__title {
    text-align: center;
    font-size: 35px !important;
  }

  .item__logo-img {
    height: 200px;
    width: 200px;
  }

  .item__title p {
    font-size: 20px;
  }

  .item__suptitles p {
    font-size: 16px;
  }

  .swiper {
    width: 90% !important;
  }

  .usloviye {
    display: none;
  }

  .about__title {
    font-size: 25px;
  }

  .about__second-wrapper {
    margin-top: 40px;
  }

  .abt__two-text,
  .abt__second-text {
    max-width: 500px;
    font-size: 14px;
    padding: 0 20px;
  }

  .abt__two-img,
  .abt__second-img {
    width: 300px;
    height: 350px;
  }

  .footer {
    margin-top: 80px;
  }

  .footer__box {
    width: 90% !important;
    margin: 0 auto;
  }

  .footer__second-wrapper {
    width: 300px !important;
    height: 400px !important;
  }

  .footer__second-iframe {
    width: 100%;
    height: 100%;
  }

  .form__input {
    width: 300px;

  }

  .form {
    padding: 20px;
    z-index: 99999999999;
  }
}




@media screen and (max-width: 1024px) {

  .main__box {
    padding: 140px 40px;
  }

  .main__first-img {
    height: 450px;
    width: 450px;
  }

  .main__title {
    max-width: 450px;
    font-size: 45px;
  }

  .usloviye__box p {
    font-size: 40px;
  }

  .about__two-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .abt__two-text,
  .abt__second-text {
    text-align: center;
  }

  .about__second-wrapper {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .footer__second-wrapper {
    width: 300px;
    height: max-content;
    margin-top: 30px;
  }

  .container {
    width: 100%;
  }


  .footer__box {
    width: 100%;
    height: max-content;
    flex-direction: column;
  }

}