.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: max-content;
  width: 100%;
}

.swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 40px;
}

/* .swiper-slide:hover {
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: default;
} */
